<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UPGCExam{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>{% block extra_css %}* { font-family: 'Inter', sans-serif; }{% endblock %}</style>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}bg-[#F5F7FA] min-h-screen{% endblock %}">
    {% block body %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
